USE [REPORTING_SERVICES]
GO
/****** Object:  StoredProcedure [dbo].[GOBK_ICN_11_IND_Falha_Perfil_Mutuario]    Script Date: 13/05/2026 14:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[GOBK_ICN_11_IND_Falha_Perfil_Mutuario] @POSICAO SmallDateTime
As

/*RO 231 -Falha na avaliação do perfil do mutuário – medimos o rácio de operações contratadas nos últimos 6 meses e que no mês atual estão no estados Mora ou em Contencioso, por balcão, área e direção.
Numerador: Nº de operações contratadas nos últimos 6 meses que no mês atual estão em Mora ou em Contencioso
Denominador: Nº de operações contratadas nos últimos 6 meses
*/

--SET @POSICAO = (Select Max(Dt_Processamento) From Datamart..F_OPER_RECENTE_MENSAL)

DECLARE @C_INDICADOR TinyInt = 2

If object_id('tempdb..#TMP_OPERACOES_CREDITO_CP_HISTO') is not null Drop Table #TMP_OPERACOES_CREDITO_CP_HISTO

SELECT	B.D_PRODUTO, A.C_PRODUTO, X.D_SITUACAO, X.C_SITUACAO, A.DT_PROCESSAMENTO, A.C_NUC, A.C_NIC,  A.NUM_OPERACAO, A.NUM_OPERACAO_ANT, D.C_ORGAO_RESP, A.VL_EMPRESTIMO, A.VL_DEVEDOR, A.DT_INI_INCUMP, A.VL_TOTAL_UTIL,
		A.NUM_TOTAL_PREST, 0 As NUM_ULT_PREST, A.DT_ULT_PREST, A.PRAZO_CARENCIA, A.PRAZO_AMORTIZ, A.DT_ABERTURA, A.DT_VENCIMENTO, A.C_PERIOD_COBR_UTILIZ, A.DT_CARREGAMENTO, A.DT_PRIM_UTILIZACAO, A.DT_PROX_PREST,
		CONVERT(TINYINT, 0 ) AS FL_PRE_APROV_CRED_IMEDIATO, CONVERT(DECIMAL(13,2), NULL) AS VL_PRE_APROV_CRED_IMEDIATO, Identity(int,1,1) As Id
Into #TMP_OPERACOES_CREDITO_CP_HISTO
FROM DATAMART..OPERACOES_CREDITO_CP_HISTO A 
	INNER JOIN DATAMART..NUC_HISTO D ON A.C_NUC = D.C_NUC AND A.DT_PROCESSAMENTO = D.DT_PROCESSAMENTO 
	INNER JOIN DATAMART..L_PRODUTO_HISTO B ON A.C_PRODUTO = B.C_PRODUTO AND B.DT_REFERENCIA = @POSICAO
	INNER JOIN DATAMART..L_SITUACAO X ON A.C_SITUACAO=X.C_SITUACAO 
WHERE DATEDIFF(DD,A.DT_ABERTURA, @POSICAO) <= 180 -- OPERAÇÕES ABERTAS NOS ÚLTIMOS SEIS MESES
  --AND A.C_SITUACAO in (11,15,16)  -- SITUAÇÃO DE MORA/CONTENCIOSO C/ACORDO E CONTENCIOSO
  AND A.DT_PROCESSAMENTO = @POSICAO
  AND A.C_SITUACAO <> 15 -- as operações em contencioso com acordo geram operações novas, a dt de abertura é a da 2º operação
  AND A.C_PRODUTO NOT IN (1402, 10016) -- aos dados do ficheiro excluímos o código de produto 1402 - CREDITO CONSUMO – IMEDIATO

If object_id('tempdb..#TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados') is not null Drop Table #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados

Select	a.D_PRODUTO, a.C_PRODUTO, a.D_SITUACAO, a.C_SITUACAO, a.DT_PROCESSAMENTO, a.C_NUC, a.C_NIC,  a.NUM_OPERACAO, a.NUM_OPERACAO_ANT, a.C_ORGAO_RESP, a.VL_EMPRESTIMO, a.VL_DEVEDOR, a.DT_INI_INCUMP, a.VL_TOTAL_UTIL,
		a.NUM_TOTAL_PREST, a.NUM_ULT_PREST, a.DT_ULT_PREST, a.PRAZO_CARENCIA, a.PRAZO_AMORTIZ, a.DT_ABERTURA, a.DT_VENCIMENTO, a.C_PERIOD_COBR_UTILIZ, a.DT_CARREGAMENTO, a.DT_PRIM_UTILIZACAO, a.DT_PROX_PREST,
		a.FL_PRE_APROV_CRED_IMEDIATO, a.VL_PRE_APROV_CRED_IMEDIATO, a.Id, Max(b.Dt_Processamento) As DT_PRE_APROV_CRED_IMEDIATO
Into #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados
From #TMP_OPERACOES_CREDITO_CP_HISTO a left Join Campanhas..Preaprovados_Nic_Limites_Histo b On a.c_Nic = b.c_Nic And a.Dt_Abertura >= b.Dt_Processamento And b.c_Categoria = 32 And b.Vl_Risco_Disponivel > 0
Group by a.D_PRODUTO, a.C_PRODUTO, a.D_SITUACAO, a.C_SITUACAO, a.DT_PROCESSAMENTO, a.C_NUC, a.C_NIC,  a.NUM_OPERACAO, a.NUM_OPERACAO_ANT, a.C_ORGAO_RESP, a.VL_EMPRESTIMO, a.VL_DEVEDOR, a.DT_INI_INCUMP, a.VL_TOTAL_UTIL, a.NUM_TOTAL_PREST, a.NUM_ULT_PREST, a.DT_ULT_PREST, a.PRAZO_CARENCIA, a.PRAZO_AMORTIZ, a.DT_ABERTURA, a.DT_VENCIMENTO, a.C_PERIOD_COBR_UTILIZ, a.DT_CARREGAMENTO, a.DT_PRIM_UTILIZACAO, a.DT_PROX_PREST, a.FL_PRE_APROV_CRED_IMEDIATO, a.VL_PRE_APROV_CRED_IMEDIATO, a.Id

UPDATE #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados
SET DT_PRE_APROV_CRED_IMEDIATO = NULL
WHERE FL_PRE_APROV_CRED_IMEDIATO = 0

-- ELIMINAR O REESTRUTURADO
Delete a
From #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados a Inner Join Datamart..L_PRODUTO_HISTO b 
       On a.c_Produto = b.c_Produto AND B.DT_REFERENCIA = @POSICAO
Where b.c_Subfammis in (51, 53, 28, 40, 52) Or a.c_Produto in (1808,1873,1249,1403,1809,1874)

-- calculo do número de prestações - as operações podem não ser cobradas logo que são contratadas, se tiverem a data '1900-01-01' ainda não foi cobrada
If object_id('tempdb..#TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX1') is not null Drop Table #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX1

Select a.num_operacao, min(b.Dt_Ult_Prest) As Dt_Ult_Prest 
Into #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX1
From #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados a inner join Datamart..Operacoes_Credito_Cp_Global_Histo b On a.num_operacao = b.num_operacao 
Where b.Dt_Ult_Prest > '1900-01-01'
Group by a.num_operacao

If object_id('tempdb..#TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX2') is not null Drop Table #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX2

Select b.Dt_Processamento, b.Dt_Abertura, a.Num_Operacao, b.c_Situacao
Into #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX2
From #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX1 A Inner Join Datamart..Operacoes_Credito_Cp_Global_Histo b On a.Num_Operacao = b.Num_Operacao 
inner Join Datamart..T_Dia c On b.Dt_Processamento = c.Prox_Fim_Mes 
where b.dt_processamento >= a.Dt_ult_Prest 
group by b.Dt_Processamento, b.Dt_Abertura, a.Num_Operacao, b.c_Situacao 
order by a.Num_Operacao, b.Dt_Processamento

If object_id('tempdb..#TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX3') is not null Drop Table #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX3

Select Dt_processamento, Num_Operacao, c_situacao, RANK() OVER (PARTITION BY num_operacao ORDER BY Dt_Processamento) prim_rank 
Into #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX3
FROM #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX2

If object_id('tempdb..#TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX4') is not null Drop Table #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX4

Select Num_operacao, max(prim_rank) As Num_Ult_Prest 
Into #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX4
From #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX3
group by num_operacao

Update #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados
Set Num_Ult_Prest = b.Num_Ult_Prest
From #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados a inner join #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados_AUX4 b 
	on a.num_operacao = b.num_operacao

--If Exists(Select * From REPORTING_SERVICES..SysObjects Where Name = 'GOBK_ICN_F_Valores_Detalhe_HISTO')
--	Drop Table REPORTING_SERVICES..GOBK_ICN_F_Valores_Detalhe_HISTO
		
Delete From REPORTING_SERVICES..GOBK_ICN_F_Valores_Detalhe_HISTO Where C_Indicador = @C_INDICADOR And Dt_Processamento = @POSICAO

Insert Into REPORTING_SERVICES..GOBK_ICN_F_Valores_Detalhe_HISTO
Select	T6.C_Trim As C_Periodo, T1.DT_PROCESSAMENTO, T5.C_Rede, T5.D_Rede, T4.C_Regiao, T4.D_Regiao, T3.C_Area, T3.D_Area, T2.C_Orgao_Resp, T2.D_Orgao_Resp, @C_INDICADOR As C_Indicador, 
		T1.C_PRODUTO, T1.D_PRODUTO, T1.C_SITUACAO, T1.D_SITUACAO, T1.C_NUC, T1.C_NIC, T1.NUM_OPERACAO, T1.NUM_OPERACAO_ANT, T1.VL_EMPRESTIMO, T1.VL_DEVEDOR, T1.DT_INI_INCUMP, T1.VL_TOTAL_UTIL, T1.NUM_TOTAL_PREST, T1.NUM_ULT_PREST, T1.DT_ULT_PREST, T1.PRAZO_CARENCIA, T1.PRAZO_AMORTIZ, T1.DT_ABERTURA, T1.DT_VENCIMENTO, T1.C_PERIOD_COBR_UTILIZ, T1.DT_CARREGAMENTO, T1.DT_PRIM_UTILIZACAO, T1.DT_PROX_PREST, T1.FL_PRE_APROV_CRED_IMEDIATO, T1.VL_PRE_APROV_CRED_IMEDIATO, T1.Id, T1.DT_PRE_APROV_CRED_IMEDIATO
From #TMP_OPERACOES_CREDITO_CP_HISTO_Preaprovados T1 
	INNER JOIN Datamart..L_Orgao T2 On T2.C_Orgao_Resp = T1.C_Orgao_Resp
	INNER JOIN Datamart..L_Area T3 On T3.C_Area = T2.C_Area
	INNER JOIN Datamart..L_Regiao T4 On T4.C_Regiao = T2.C_Regiao
	INNER JOIN Datamart..L_Rede T5 On T5.C_Rede = T2.C_Rede
	INNER JOIN Datamart..L_Dia T6 On T6.C_Dia = T1.Dt_Processamento
	
Delete From REPORTING_SERVICES..GOBK_ICN_F_Valores_Agreg_HISTO_Mensal Where C_Indicador = @C_INDICADOR

;With CTE_Base As
	(Select	T2.C_Trim As C_Periodo, Dt_Processamento, C_Rede, D_Rede, C_Regiao, D_Regiao, C_Area, D_Area, C_Orgao_Resp, D_Orgao_Resp, C_Indicador, 
			Count(Distinct Num_Operacao) As NumOper_Total, Count(Distinct(CASE WHEN C_SITUACAO IN (11 /*MORA*/, 16 /*CONTENCIOSO*/) THEN Num_Operacao ELSE NULL END)) As NumOper_Irreg
	From REPORTING_SERVICES..GOBK_ICN_F_Valores_Detalhe_HISTO T1 INNER JOIN Datamart..L_Dia T2
		On T2.C_Dia = T1.Dt_Processamento
	Where C_Indicador = @C_INDICADOR
	Group By T2.C_Trim, Dt_Processamento, C_Rede, D_Rede, C_Regiao, D_Regiao, C_Area, D_Area, C_Orgao_Resp, D_Orgao_Resp, C_Indicador)
, CTE_Agreg_Orgao As
	(Select C_Periodo, Dt_Processamento, 4 As C_Nivel, C_Rede, D_Rede, C_Regiao, D_Regiao, C_Area, D_Area, C_Orgao_Resp, D_Orgao_Resp, C_Indicador, Sum(NumOper_Total) As NumOper_Total, Sum(NumOper_Irreg) As NumOper_Irreg, ((Sum(NumOper_Irreg) / Convert(Decimal(18, 5), Sum(NumOper_Total))) * 100) As Vl_Indicador
	From CTE_Base
	Group By C_Periodo, Dt_Processamento, C_Rede, D_Rede, C_Regiao, D_Regiao, C_Area, D_Area, C_Orgao_Resp, D_Orgao_Resp, C_Indicador)
, CTE_Agreg_Area As
	(Select C_Periodo, Dt_Processamento, 3 As C_Nivel, C_Rede, D_Rede, C_Regiao, D_Regiao, C_Area, D_Area, NULL As C_Orgao_Resp, NULL As D_Orgao_Resp, C_Indicador, Sum(NumOper_Total) As NumOper_Total, Sum(NumOper_Irreg) As NumOper_Irreg, ((Sum(NumOper_Irreg) / Convert(Decimal(18, 5), Sum(NumOper_Total))) * 100) As Vl_Indicador
	From CTE_Base
	Group By C_Periodo, Dt_Processamento, C_Rede, D_Rede, C_Regiao, D_Regiao, C_Area, D_Area, C_Indicador)
, CTE_Agreg_Regiao As
	(Select C_Periodo, Dt_Processamento, 2 As C_Nivel, C_Rede, D_Rede, C_Regiao, D_Regiao, NULL As C_Area, NULL As D_Area, NULL As C_Orgao_Resp, NULL As D_Orgao_Resp, C_Indicador, Sum(NumOper_Total) As NumOper_Total, Sum(NumOper_Irreg) As NumOper_Irreg, ((Sum(NumOper_Irreg) / Convert(Decimal(18, 5), Sum(NumOper_Total))) * 100) As Vl_Indicador
	From CTE_Base
	Group By C_Periodo, Dt_Processamento, C_Rede, D_Rede, C_Regiao, D_Regiao, C_Indicador)
, CTE_Agreg_Rede As
	(Select C_Periodo, Dt_Processamento, 1 As C_Nivel, C_Rede, D_Rede, NULL As C_Regiao, NULL As D_Regiao, NULL As C_Area, NULL As D_Area, NULL As C_Orgao_Resp, NULL As D_Orgao_Resp, C_Indicador, Sum(NumOper_Total) As NumOper_Total, Sum(NumOper_Irreg) As NumOper_Irreg, ((Sum(NumOper_Irreg) / Convert(Decimal(18, 5), Sum(NumOper_Total))) * 100) As Vl_Indicador
	From CTE_Base
	Group By C_Periodo, Dt_Processamento, C_Rede, D_Rede, C_Indicador)
Insert Into REPORTING_SERVICES..GOBK_ICN_F_Valores_Agreg_HISTO_Mensal
Select *
From CTE_Agreg_Orgao
UNION ALL
Select *
From CTE_Agreg_Area
UNION ALL
Select *
From CTE_Agreg_Regiao
UNION ALL
Select *
From CTE_Agreg_Rede
Order By 1, 2, 3, 4, 5, 7, 9

--If Exists(Select * From REPORTING_SERVICES..SysObjects Where Name = 'GOBK_ICN_F_Valores_Agreg_HISTO_Trimestral')
--	Drop Table REPORTING_SERVICES..GOBK_ICN_F_Valores_Agreg_HISTO_Trimestral

Delete From REPORTING_SERVICES..GOBK_ICN_F_Valores_Agreg_HISTO_Trimestral Where C_Indicador = @C_INDICADOR

Insert Into REPORTING_SERVICES..GOBK_ICN_F_Valores_Agreg_HISTO_Trimestral
Select C_Periodo, C_Nivel, C_Rede, D_Rede, C_Regiao, D_Regiao, C_Area, D_Area, C_Orgao_Resp, D_Orgao_Resp, C_Indicador, Sum(NumOper_Total) As NumOper_Total, Sum(NumOper_Irreg) As NumOper_Irreg, Avg(Vl_Indicador) As Vl_Indicador
From REPORTING_SERVICES..GOBK_ICN_F_Valores_Agreg_HISTO_Mensal
Where C_Indicador = @C_INDICADOR
Group By C_Periodo, C_Nivel, C_Rede, D_Rede, C_Regiao, D_Regiao, C_Area, D_Area, C_Orgao_Resp, D_Orgao_Resp, C_Indicador
Order By 1, 2, 3, 5, 7, 9

/*
Select * From REPORTING_SERVICES..GOBK_ICN_F_Valores_Detalhe_HISTO Where C_Orgao_Resp = 481
Select * From REPORTING_SERVICES..GOBK_ICN_F_Valores_Agreg_HISTO_Mensal Where C_Orgao_Resp = 481 Order By C_Periodo, Dt_Processamento, C_Indicador
Select * From REPORTING_SERVICES..GOBK_ICN_F_Valores_Agreg_HISTO_Trimestral Where C_Orgao_Resp = 481 Order By C_Periodo, C_Indicador
Select * From REPORTING_SERVICES..GOBK_ICN_L_Indicadores
*/