USE [DMKE_APP]
GO
/****** Object:  StoredProcedure [dbo].[MOVPRD026_PRODUCAO_SERVICOS_CART_DEB]    Script Date: 12/05/2026 16:50:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[MOVPRD026_PRODUCAO_SERVICOS_CART_DEB] @Posicao_N smalldatetime, @c_mes_N int, @Posicao_N1 smalldatetime, @PERIODICIDADE VARCHAR(1) 
AS
	
 --Declare @Posicao_N smalldatetime, @c_mes_N int, @Posicao_N1 smalldatetime, @Periodicidade varchar(1) 
 --Set @Posicao_N  = '2015-03-13' 
 --Set @c_mes_N    = 201503 
 --Set @Posicao_N1 = '2015-03-06' 
 --Set @Periodicidade = 'S' 

DECLARE @cmd varchar(8000)
DECLARE @PREFIXO_SP VARCHAR(80)  
SET @PREFIXO_SP = 'MOVPRD026_PRODUCAO_SERVICOS_CART_DEB_' + @PERIODICIDADE

Set @Posicao_N1 = (Select Max(Dt_Processamento) From Dmke_Base..Movimentos_Producao_Servicos_Histo a WITH (INDEX(i_dt_produto)) where dt_processamento < @Posicao_N
					and c_Tipo_Producao in (select c_Tipo_Producao from datamart..v_movimentos_producao where c_aplicacao_movimento=2)
					)

--VALIDAÇÕES
If 	(select count(*) from Dmke_Base..Nuc_Histo where dt_processamento=@Posicao_N) 				= 0 
	OR (select count(*) from Dmke_Base..Nuc_Histo where dt_processamento=@Posicao_N1) 			= 0 
	OR (select count(*) from Dmke_Base..Cartoes_Debito_Histo where dt_processamento=@Posicao_N)	= 0 
	OR (select count(*) from Dmke_Base..Cartoes_Debito_Histo where dt_processamento=@Posicao_N1) 	= 0 
Begin
	Raiserror ('A posição de Final do mês ou as duas ultimas semanas da view [Dmke_Base..Nuc_Histo] ou [Dmke_Base..Cartoes_Debito_Histo] Não está disponível !!!!', 16, 1)	
End
else
Begin

EXECUTE DMKE_APP..MSQLDB_APAGAR_TEMP @PREFIXO_SP 

-- 	Entradas
set @cmd ='select 	a.dt_processamento, 
	'+Convert(varchar,@c_mes_N)+'  as c_mes, 
	b.C_orgao_resp, 
	a.C_nuc, 
	a.C_nic, 
	b.C_segmento_nuc, 
	b.C_gestor_nuc, 
	a.c_Produto As C_produto, 
	a.c_Prod_Aplic As C_prod_aplic, 
	Convert(Varchar(12), Null) As c_Aplicacao, 
	0 as C_tipo_producao, 
	2 as C_tipo_campo_producao, 
	a.Conta_Cartao as Valor_campo_producao, 
	convert(varchar(41),Replicate(''0'',16-len(a.Conta_Cartao)) + convert(varchar(16),a.conta_cartao) + Replicate(''0'',9-len(a.c_Produto)) + convert(varchar(9),a.c_Produto) + left(a.c_Prod_Aplic,9) + convert(varchar(7),a.c_Nic)) As Chave, 
	sum(a.vl_offline_cash) as Valor_producao, 
	a.dt_processamento as Dt_Ini_servico, 
	count(a.Nr_Cart) As Num_Cartoes, 
	0 as Existe 
	into DMKE_TEMP..'+ @PREFIXO_SP+ '_N 
	from Dmke_Base..Cartoes_Debito_Histo a 
	Left join (select c_nuc, C_orgao_resp,C_segmento_nuc,C_gestor_nuc from Dmke_Base..Nuc_Histo where dt_processamento='''+ Convert(varchar(10),@Posicao_N,120) +''') b 
	on a.c_nuc = b.c_nuc 
	where a.dt_processamento = '''+ Convert(varchar(10),@Posicao_N,120) +''' 
	And a.c_status_cartao_sibs in (2,13) And a.dt_expiracao_cartao >= '''+ Convert(varchar(10),@Posicao_N,120) +''' --and a.c_Nic > 0 and a.c_Nuc < 999999999 
	And a.nrcart_nov = 0 
	Group By a.dt_processamento, b.C_orgao_resp, a.C_nuc, a.C_nic, b.C_segmento_nuc, b.C_gestor_nuc, a.c_Produto, a.c_Prod_Aplic, a.Conta_Cartao'
	PRINT @cmd
	EXEC(@cmd)

	set @cmd ='Create index i_c_nuc on DMKE_TEMP..'+ @PREFIXO_SP+ '_N(c_nuc) '
	PRINT @cmd
	EXEC(@cmd)

	set @cmd ='Create index i_c_nic on DMKE_TEMP..'+ @PREFIXO_SP+ '_N(c_nic) '
	PRINT @cmd
	EXEC(@cmd)

	set @cmd ='Create index i_Valor_campo_producao on DMKE_TEMP..'+ @PREFIXO_SP+ '_N(chave) '
	PRINT @cmd
	EXEC(@cmd)


-- 	Saidas
set @cmd ='select 	'''+ Convert(varchar(10),@Posicao_N,120) +''' as dt_processamento, 
	'+Convert(varchar,@c_mes_N)+'  as c_mes, 
	b.C_orgao_resp, 
	a.C_nuc, 
	a.C_nic, 
	b.C_segmento_nuc, 
	b.C_gestor_nuc, 
	a.c_Produto As C_produto, 
	a.c_Prod_Aplic As C_prod_aplic, 
	Convert(Varchar(12), Null) As c_Aplicacao,
	0 as C_tipo_producao, 
	2 as C_tipo_campo_producao, 
	a.Conta_Cartao as Valor_campo_producao, 
	convert(varchar(41),Replicate(''0'',16-len(a.Conta_Cartao)) + convert(varchar(16),a.conta_cartao) + Replicate(''0'',9-len(a.c_Produto)) + convert(varchar(9),a.c_Produto) + left(a.c_Prod_Aplic,9) + convert(varchar(7),a.c_Nic)) As Chave, 
	sum(a.vl_offline_cash) as Valor_producao, 
	'''+ Convert(varchar(10),@Posicao_N,120) +''' as Dt_Ini_servico, 
	count(a.Nr_Cart) As Num_Cartoes, 
	0 as Existe 
	into DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 
	from Dmke_Base..Cartoes_Debito_Histo a 
	Left join (select c_nuc, C_orgao_resp,C_segmento_nuc,C_gestor_nuc from Dmke_Base..Nuc_Histo where dt_processamento='''+ Convert(varchar(10),@Posicao_N1,120) +''') b
	on a.c_nuc = b.c_nuc 
	where a.dt_processamento = '''+ Convert(varchar(10),@Posicao_N1,120) +''' 
	And a.c_status_cartao_sibs in (2,13) And a.dt_expiracao_cartao >= '''+ Convert(varchar(10),@Posicao_N1,120) +''' --and a.c_Nic > 0 and a.c_Nuc < 999999999
	And a.nrcart_nov = 0
	Group By b.C_orgao_resp, a.C_nuc, a.C_nic, b.C_segmento_nuc, b.C_gestor_nuc, a.c_Produto, a.c_Prod_Aplic, a.Conta_Cartao'
	PRINT @cmd
	EXEC(@cmd)

	set @cmd ='Create index i_c_nuc on DMKE_TEMP..'+ @PREFIXO_SP+ '_N1(c_nuc)'
	PRINT @cmd
	EXEC(@cmd)

	set @cmd ='Create index i_c_nic on DMKE_TEMP..'+ @PREFIXO_SP+ '_N1(c_nic)'
	PRINT @cmd
	EXEC(@cmd)

	set @cmd ='Create index i_Valor_campo_producao on DMKE_TEMP..'+ @PREFIXO_SP+ '_N1(chave)'
	PRINT @cmd
	EXEC(@cmd)

-- || 	Marcar na Posição N (Ultima Posição) face á Posição N-1 (Posição Anterior) as Entradas e as Saidas Genéricas
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ '_N	set  Existe = 1  from DMKE_TEMP..'+ @PREFIXO_SP+ '_N  a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 b  	on a.chave = b.chave And a.Num_Cartoes = b.Num_Cartoes'
	PRINT @cmd
	EXEC(@cmd)

	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 	set  Existe = 1  from DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N b  	on a.chave = b.chave And a.Num_Cartoes = b.Num_Cartoes'
	PRINT @cmd
	EXEC(@cmd)

-- || 	Criar Tabela com as Entradas e as Saidas Genéricas comparando a Posição N face á Posição N-1 (Entrada : c_ind_entrada=1 | Saida: c_ind_entrada=0)
--	drop table DMKE_TEMP..'+ @PREFIXO_SP+ '
	set @cmd ='select 	a.dt_processamento,a.c_mes,a.C_orgao_resp,a.C_nuc,a.C_nic,a.C_segmento_nuc,a.C_gestor_nuc,
		a.C_produto,a.C_prod_aplic,a.c_Aplicacao,a.C_tipo_producao,a.C_tipo_campo_producao,a.Valor_campo_producao,
		a.Valor_producao, a.Dt_Ini_servico, a.Num_Cartoes, a.Num_Cartoes As QTD_PRODUCAO, a.chave, 1 as c_ind_entrada,
		convert(Smalldatetime, null) as Dt_Inicio_Mov_Valido, convert(Smalldatetime, null) as Dt_Inicio_Nuc_Valido, Convert(Decimal(37,0), Null) As Chave_id
	into DMKE_TEMP..'+ @PREFIXO_SP+ ' 
	from DMKE_TEMP..'+ @PREFIXO_SP+ '_N  a Left join DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 b on a.chave = b.chave 
	where b.chave is Null And a.Num_Cartoes > 0 And a.existe = 0 
	union 
	select 	a.dt_processamento,a.c_mes,a.C_orgao_resp,a.C_nuc,a.C_nic,a.C_segmento_nuc,a.C_gestor_nuc,
		a.C_produto,a.C_prod_aplic,a.c_Aplicacao,a.C_tipo_producao,a.C_tipo_campo_producao,a.Valor_campo_producao,
		a.Valor_producao, a.Dt_Ini_servico, a.Num_Cartoes, a.Num_Cartoes - b.Num_Cartoes As QTD_PRODUCAO, 
		a.chave, 1 as c_ind_entrada, convert(Smalldatetime, null) as Dt_Inicio_Mov_Valido, convert(Smalldatetime, null) as Dt_Inicio_Nuc_Valido, Convert(Decimal(37,0), Null) As Chave_id
	from DMKE_TEMP..'+ @PREFIXO_SP+ '_N  a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 b on a.chave = b.chave And a.Num_Cartoes > b.Num_Cartoes And a.existe = 0 
	Union 
	select  a.dt_processamento,a.c_mes,a.C_orgao_resp,a.C_nuc,a.C_nic,a.C_segmento_nuc,a.C_gestor_nuc,
		a.C_produto,a.C_prod_aplic,a.c_Aplicacao,a.C_tipo_producao,a.C_tipo_campo_producao,a.Valor_campo_producao,
		a.Valor_producao, a.Dt_Ini_servico, a.Num_Cartoes, (-1)*a.Num_Cartoes As QTD_PRODUCAO, a.chave, 0 as c_ind_entrada,
		convert(Smalldatetime, null) as Dt_Inicio_Mov_Valido, convert(Smalldatetime, null) as Dt_Inicio_Nuc_Valido, Convert(Decimal(37,0), Null) As Chave_id
	from DMKE_TEMP..'+ @PREFIXO_SP+ '_N1  a Left join DMKE_TEMP..'+ @PREFIXO_SP+ '_N b on a.chave = b.chave 
	where b.chave is Null And a.Num_Cartoes > 0 And a.existe = 0 
	Union
	select  a.dt_processamento,a.c_mes,a.C_orgao_resp,a.C_nuc,a.C_nic,a.C_segmento_nuc,a.C_gestor_nuc,
		a.C_produto,a.C_prod_aplic,a.c_Aplicacao,a.C_tipo_producao,a.C_tipo_campo_producao,a.Valor_campo_producao,
		a.Valor_producao, a.Dt_Ini_servico, a.Num_Cartoes, b.Num_Cartoes - a.Num_Cartoes As QTD_PRODUCAO, a.chave, 
		0 as c_ind_entrada, convert(Smalldatetime, null) as Dt_Inicio_Mov_Valido, convert(Smalldatetime, null) as Dt_Inicio_Nuc_Valido, Convert(Decimal(37,0), Null) As Chave_id
	from DMKE_TEMP..'+ @PREFIXO_SP+ '_N1  a 
	inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N b on a.chave = b.chave And a.Num_Cartoes > b.Num_Cartoes And a.existe = 0 '
	PRINT @cmd
	EXEC(@cmd)

-- ||	========== Entradas
-- 	11 - Novos Cartões de Débito em Contas DO que já tinham cartões
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=11
	from DMKE_TEMP..'+ @PREFIXO_SP+ ' a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 b
	on a.chave = b.chave
	where a.c_ind_entrada=1 and a.Num_Cartoes - b.Num_Cartoes >= 1 and a.c_Tipo_Producao = 0'
	PRINT @cmd
	EXEC(@cmd)

-- 	12 - Primeiros Cartões de Débito em Contas DO de NUC e NIC que já tinham cartões de débito 
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=12 
	from DMKE_TEMP..'+ @PREFIXO_SP+ ' a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 b
	on a.c_Nic = b.c_Nic and a.c_Nuc = b.c_Nuc and a.chave <> b.chave
	where a.c_ind_entrada=1 and a.Num_Cartoes > 0 and b.Num_Cartoes > 0  and a.c_Nic > 0 and a.c_Nuc < 999999999 and a.c_Tipo_Producao = 0'
	PRINT @cmd
	EXEC(@cmd)

-- 	13 - Primeiros Cartões de Débito em Contas DO de NUC com outros Cartões de Débito e NIC sem outros Cartões de Débito
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=13
	from DMKE_TEMP..'+ @PREFIXO_SP+ ' a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 b
	on a.c_Nuc = b.c_Nuc and a.chave <> b.chave 
	where a.c_ind_entrada=1 and a.Num_Cartoes > 0 and a.c_Nuc < 999999999 and a.c_Tipo_Producao = 0
	and a.c_Nic Not in (select c_Nic From DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 Where Num_Cartoes > 0 group by c_Nic)
	and a.c_Nuc in (select c_Nuc From DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 Where Num_Cartoes > 0 group by c_Nuc)'
	PRINT @cmd
	EXEC(@cmd)

-- 	14 - Primeiros Cartões de Débito em Contas DO de NIC com outros Cartões de Débito e NUC sem outros Cartões de Débito
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=14 
	from DMKE_TEMP..'+ @PREFIXO_SP+ ' a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 b 
	on a.c_Nic = b.c_Nic and a.chave <> b.chave 
	where a.c_ind_entrada=1 and a.Num_Cartoes > 0 and a.c_Nic > 0 and a.c_Tipo_Producao = 0 
	and a.c_Nuc Not in (select c_Nuc From DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 Where Num_Cartoes > 0 group by c_Nuc) 
	and a.c_Nic in (select c_Nic From DMKE_TEMP..'+ @PREFIXO_SP+ '_N1 Where Num_Cartoes > 0 group by c_Nic)' 
	PRINT @cmd
	EXEC(@cmd)

-- 	15 - Primeiros Cartões de Débito em Contas DO de NIC e NUC sem outros Cartões de Débito 
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=15  
	from DMKE_TEMP..'+ @PREFIXO_SP+ '  
	where c_ind_entrada=1 and Num_Cartoes > 0 and c_Tipo_Producao = 0 ' 
	PRINT @cmd
	EXEC(@cmd)

	-- alterado a 20071231
-- 	686 - Marca todos anteriores relativos a cartões de débito não personalizados - não atribuidos
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=686  
	from DMKE_TEMP..'+ @PREFIXO_SP+ '  
	where C_tipo_producao = 11 And c_Nic = 0 And c_Nuc = 999999999 And c_Produto = 6011'
	PRINT @cmd
	EXEC(@cmd)

-- ||	========== Saidas

-- 	16 - Saída de Cartões de Débito em Contas Cartão que mantiveram cartões
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=16 
	from DMKE_TEMP..'+ @PREFIXO_SP+ ' a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N b 
	on a.chave = b.chave
	where a.c_ind_entrada=0 and a.Num_Cartoes - b.Num_Cartoes >= 1 and b.Num_Cartoes >= 1 and a.c_Tipo_Producao = 0'
	PRINT @cmd
	EXEC(@cmd)

-- 	17 - Últimos Cartões de Débito em Conta DO de NUC e NIC que já tinham Cartões de Débito
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=17
	from DMKE_TEMP..'+ @PREFIXO_SP+ ' a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N b
	on a.c_Nuc = b.c_Nuc and a.c_Nic = b.c_Nic and a.chave <> b.chave
	where a.c_ind_entrada=0 and a.Num_Cartoes > 0 and b.Num_Cartoes > 0 and a.c_Nic > 0 and a.c_Nuc < 999999999 and a.c_Tipo_Producao = 0'
	PRINT @cmd
	EXEC(@cmd)

-- 	18 - Últimos Cartões de Débito em Conta DO de NUC com outros Cartões de Débito e NIC sem outros Cartões de Débito
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=18
	from DMKE_TEMP..'+ @PREFIXO_SP+ ' a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N b
	on a.c_Nuc = b.c_Nuc and a.chave <> b.chave
	where a.c_ind_entrada=0 and a.Num_Cartoes > 0 and a.c_Nuc < 999999999 and a.c_Tipo_Producao = 0
	and a.c_Nic Not in (select c_Nic From DMKE_TEMP..'+ @PREFIXO_SP+ '_N Where Num_Cartoes > 0 group by c_Nic)
	and a.c_Nuc in (select c_Nuc From DMKE_TEMP..'+ @PREFIXO_SP+ '_N Where Num_Cartoes > 0 group by c_Nuc)'
	PRINT @cmd
	EXEC(@cmd)

-- 	19 - Últimos Cartões de Débito em Conta DO de NIC com outros Cartões de Débito e NUC sem outros Cartões de Débito
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=19
	from DMKE_TEMP..'+ @PREFIXO_SP+ ' a inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N b
	on a.c_Nic = b.c_Nic and a.chave <> b.chave
	where a.c_ind_entrada=0 and a.Num_Cartoes > 0 and a.c_Nic > 0 and a.c_Tipo_Producao = 0
	and a.c_Nuc Not in (select c_Nuc From DMKE_TEMP..'+ @PREFIXO_SP+ '_N Where Num_Cartoes > 0 group by c_Nuc)
	and a.c_Nic in (select c_Nic From DMKE_TEMP..'+ @PREFIXO_SP+ '_N Where Num_Cartoes > 0 group by c_Nic)'
	PRINT @cmd
	EXEC(@cmd)

-- 	20 - Últimos Cartões de Débito em Conta DO de NUC e NIC sem outros Cartões de Débito
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=20
	from DMKE_TEMP..'+ @PREFIXO_SP+ '
	where c_ind_entrada=0 and Num_Cartoes > 0 and c_Tipo_Producao = 0 '
	PRINT @cmd
	EXEC(@cmd)

	-- alterado a 20071231
-- 	687 - Marca todos anteriores relativos a cartões de débito não personalizados
	set @cmd ='Update DMKE_TEMP..'+ @PREFIXO_SP+ ' set C_tipo_producao=687
	from DMKE_TEMP..'+ @PREFIXO_SP+ '  
	where C_tipo_producao = 16 And c_Nic = 0 And c_Nuc = 999999999 And c_Produto = 6011'
	PRINT @cmd
	EXEC(@cmd)

	Set @Cmd = 'Update a
				Set c_Orgao_Resp = b.c_Orgao_Resp, c_Gestor_Nuc = b.c_Gestor_Nuc, c_Segmento_Nuc = b.c_Segmento_Nuc
				From DMKE_TEMP..'+ @PREFIXO_SP + ' a Inner Join Dmke_Base..Nuc_Encerrados b on a.c_Nuc = b.c_Nuc'

	EXEC(@cmd)

	Set @cmd = 'Update A
		Set Dt_Inicio_Nuc_Valido = case When (c_Nuc > 0 and c_Nuc < 999999999) And c_Orgao_Resp <> 9999 Then Dt_Processamento Else Null End
		from DMKE_TEMP..'+ @PREFIXO_SP +' A
		'
	--PRINT @Cmd
	EXEC(@cmd)

	Set @cmd = '
		Update a
		Set a.Dt_Inicio_Nuc_Valido = a.Dt_Processamento 
		From DMKE_TEMP..'+@PREFIXO_SP+' a
		Inner Join Datamart..L_Tipo_Producao c On a.c_Tipo_Producao = c.c_Tipo_Producao And c.c_Aplicacao_Movimento = 2
		Where a.Dt_Inicio_Nuc_Valido is Null 
		And a.c_Nuc > 0 And a.c_Nuc < 999999999
		And a.c_Orgao_Resp > 0 And a.c_Orgao_Resp < 9999
		'
	PRINT @Cmd
	EXEC(@cmd)

	Declare @Tabela_Aux Varchar(256)
	Set @Tabela_Aux = 'DMKE_TEMP..'+ @PREFIXO_SP

	begin
		Execute Dmke_App..MOVPRD043_PRODUCAO_CHAVE_ID
					@Tabela = @Tabela_Aux,
					@Dt_processamento = 'Dt_Processamento',
					@C_mes = 'Datamart.Dbo.C_Mes(Dt_Processamento)',
					@C_Orgao_Resp = 'C_Orgao_Resp',
					@C_Nuc = 'C_Nuc',
					@C_Nic = 'C_Nic',
					@C_Gestor_Nuc = 'C_Gestor_Nuc',
					@C_produto = 'C_Produto',
					@C_prod_aplic = 'C_Prod_Aplic',
					@C_tipo_producao = 'C_Tipo_Producao',
					@C_tipo_campo_producao = 'C_tipo_campo_producao',
					@Valor_campo_producao = 'Valor_Campo_Producao',
					@Qtd_producao = 'Qtd_producao',
					@Valor_producao = 'Valor_Producao',
					@Dt_Inicio_Mov = 'Dt_Ini_Servico',
					@Dt_Inicio_Nuc_Valido = 'Isnull(Dt_Inicio_Nuc_Valido,''1900-01-01'') ',
					@Num_Unidades = 'Null',
					@Dt_Mov_Amortizacao  = 'Null'
	End
	

	Declare @Retries Int 
	Set @Retries = 11

	While ( @Retries > 0 ) 
		Begin
			Begin Try
				Begin Transaction 
       
				--	Apagar a posição se existente na tabela de produção serviços
					set @cmd ='delete from Dmke_Base..Movimentos_Producao_Servicos_Histo 
					where dt_processamento=(select distinct dt_processamento from DMKE_TEMP..'+ @PREFIXO_SP+ ')
					and c_tipo_producao in (select c_tipo_producao from datamart..v_movimentos_producao where c_aplicacao_movimento=2)'
					PRINT @cmd
					EXEC(@cmd)

				-- 	Inserir na tabela de Movimentos de Serviços
					set @cmd ='INSERT INTO DMKE_BASE..MOVIMENTOS_PRODUCAO_SERVICOS_HISTO 
					(DT_PROCESSAMENTO,C_MES,C_ORGAO_RESP,C_ORGAO_VENDA,C_NUC,C_NIC,C_SEGMENTO_NUC,C_GESTOR_NUC,C_GESTOR_VENDA,C_PRODUTO,C_PROD_APLIC,C_APLICACAO,C_TIPO_PRODUCAO,C_TIPO_CAMPO_PRODUCAO,VALOR_CAMPO_PRODUCAO,
					QTD_PRODUCAO,VALOR_PRODUCAO,DT_INI_SERVICO,DT_INICIO_NUC_VALIDO,DT_INICIO_MOV_VALIDO,FL_ORIGEM,CHAVE_ID)
					select  Dt_processamento,C_mes,C_orgao_resp,Convert(Int, Null) As C_Orgao_venda,C_nuc,C_nic,C_segmento_nuc,C_gestor_nuc,Convert(Int, Null) As C_Gestor_venda,
						C_produto,C_prod_aplic,c_Aplicacao,C_tipo_producao,C_tipo_campo_producao,Valor_campo_producao, 
						QTD_PRODUCAO, Null, Dt_Ini_servico, Dt_Inicio_Nuc_Valido,
						null as Dt_Inicio_Mov_Valido, ''C'' As Fl_Origem, Chave_id
					from DMKE_TEMP..'+ @PREFIXO_SP
					PRINT @cmd
					EXEC(@cmd)

					set @cmd ='Update Dmke_Base..Movimentos_Producao_Servicos_Histo 
					Set c_Nuc = b.c_Nuc, C_Nic = b.c_Nic, c_Segmento_Nuc = b.c_Segmento_Nuc, c_Gestor_Nuc = b.c_Gestor_Nuc, c_Orgao_Resp = b.c_Orgao_Resp, Dt_Inicio_Nuc_Valido = b.Dt_Processamento
					From Dmke_Base..Movimentos_Producao_Servicos_Histo a Inner join DMKE_TEMP..'+ @PREFIXO_SP+ '_N b on a.valor_campo_producao = b.valor_campo_producao and a.c_produto = b.c_Produto 
					Inner Join Datamart..L_Tipo_Producao c On a.c_Tipo_Producao = c.c_Tipo_Producao And c.c_Aplicacao_Movimento = 2
					Where a.c_nuc in (0,999999999) and b.c_Nuc > 0 And b.c_Nuc < 999999999 And a.Dt_Inicio_Nuc_Valido is Null
					And b.c_Orgao_Resp > 0 And b.c_Orgao_Resp < 9999'
					PRINT @cmd
					EXEC(@cmd)

				Set @Retries = 0 

				Commit Transaction 
			End Try
			Begin Catch 
			-- Error Is A Deadlock
			If ( Error_Number() = 1205 and @Retries > 1 ) 
			Begin
				Set @Retries = @Retries - 1 
				PRINT 'Nº de Tentativas: ' +  Cast(@Retries as varchar)
			End
            
			-- Error Is Not A Deadlock
				Else 
					Begin
						Declare @Errormessage Nvarchar(4000) 
						Declare @Errorseverity Int 
						Declare @Errorstate Int 

						Select  @Errormessage = Error_Message() ,
								@Errorseverity = Error_Severity() ,
								@Errorstate = Error_State() 
                   
						-- Re-Raise The Error That Caused The Problem
						Raiserror (@Errormessage, -- Message Text.
						   @Errorseverity, -- Severity.
						   @Errorstate -- State.
						   ) 
						Set @Retries = 0 
					End
  
				If Xact_State() <> 0 
					Rollback Transaction 
			End Catch 
		End 

End

EXECUTE DMKE_APP..MSQLDB_APAGAR_TEMP @PREFIXO_SP 
