USE [DMKE_APP]
GO
/****** Object:  StoredProcedure [dbo].[RENTAB005_CALCULA_RENTABILIDADE_BE]    Script Date: 13/05/2026 13:54:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec dataware..roe_dcgo_i

---ALTER procedure [dbo].[roe_dcgo_i]
ALTER  procedure [dbo].[RENTAB005_CALCULA_RENTABILIDADE_BE]
 @posicao smalldatetime = null, @periodicidade char(1)= NULL
as
begin
	--	exec DMKE_APP.[dbo].[RENTAB005_CALCULA_RENTABILIDADE_BE] @posicao ='2025-05-15' , @periodicidade = 'D'
	--RENTAB005_CALCULA_RENTABILIDADE_BE @posicao ='2025-03-31'
	--declare  @posicao datetime = '2025-05-31', @periodicidade char(1) = 'M'
	print '---------------------------------------------------------------------------------------------------------'
	print '[RENTAB005_CALCULA_RENTABILIDADE_BE]'
	print '---------------------------------------------------------------------------------------------------------'
	DECLARE @PREFIXO_SP VARCHAR(80) 
	DECLARE @SUFIXO VARCHAR(8) 

	-- Para a última posição só pode ser processada após o dia 15
	-- para outras posições ,pode ser reprocessado 
	declare  @dataAtual smalldatetime = cast(getdate() as date)
	
	SET @SUFIXO = (SELECT CONVERT(VARCHAR(8),@POSICAO,112))
	SET @PREFIXO_SP = 'RENTAB005_' + @PERIODICIDADE

	EXECUTE DMKE_APP..MSQLDB_APAGAR_TEMP @PREFIXO_SP

	
		--- Se Data da posicao  <15  do mes atual, não corre
	--if (DAY(@posicao) >=15)  

	--begin
	--	print 'Corre hoje: '

		if  @PERIODICIDADE = 'D'  and @POSICAO <> EOMONTH(@POSICAO)
		begin 
			SET @POSICAO = eoMonth(dateadd(mm, -1 , @POSICAO) ) 
			SET @PERIODICIDADE = 'M'	
		end 
		
		
		print @posicao

		
		--declare @posicao smalldatetime = '2025-03-31'

		--drop table if exists  DMKE_TEMP..RENTAB005_D_nuc_4redes_histo
		--select c_nuc, nif   INTO DMKE_TEMP..RENTAB005_D_nuc_4redes_histo from DATAMART.DBO.nuc_4redes_histo  N inner join DATAMART.dbo.TED_ORGAOS_DW O 	on N.C_orgao = O.COD_BALCAO_RESP 
		--where 1=1 
		--and N.C_REDE IN (20 , 22, 23, 25, 27) 
		--and dt_processamento =@posicao;
		-----este processo precisa ser revisto após migração da a_resumo_nuc_fm para datamart
		--INSERT INTO DMKE_TEMP..RENTAB005_D_nuc_4redes_histo
		--select nuc C_NUC, num_contribuinte nif   from  datamart_00..a_resumo_nuc_fm b  
		--left join  DMKE_TEMP..RENTAB005_D_nuc_4redes_histo  a  on a.c_nuc = b.nuc 
		--where  1=1 and b.cod_status_nuc not in (2,3)
		--and a.c_nuc is null
		--and b.dt_processamento_nuc <= @posicao

		drop table if exists  DMKE_TEMP..RENTAB005_D_nuc_4redes_histo
		SELECT NUC C_NUC,NUM_CONTRIBUINTE nif,COD_GESTOR_NUC C_GESTOR, COD_BALCAO_RESP C_ORGAO, NOME_NUC 
		into DMKE_TEMP..RENTAB005_D_nuc_4redes_histo
		FROM DATAMART_00..A_RESUMO_NUC_FM 




		
		drop table if exists DMKE_TEMP..RENTAB005_D_RENTABILIDADE_RWA_HISTO -- #ROE_DACR_RWA_HISTO		
		;with CTE_MAX_DT as (select MAX(DT_PROCESSAMENTO)DT_PROCESSAMENTO from 	DMKE_BASE..RENTABILIDADE_BE_RWA_HISTO where dt_processamento <= @posicao) 

		select A.* ,
		CHAVE = ROW_NUMBER() OVER (PARTITION BY a.DT_PROCESSAMENTO, a.NUM_OPERACAO, a.C_PRODUTO, a.C_NIC ORDER BY a.VL_OPER DESC)
			
		INTO DMKE_TEMP..RENTAB005_D_RENTABILIDADE_RWA_HISTO
		from datamart..RENTABILIDADE_BE_RWA_HISTO A inner join CTE_MAX_DT B on A.DT_PROCESSAMENTO=B.DT_PROCESSAMENTO



	
		--corrige código de oeração,em caso de reprocessamento  legado  
		update a 
		set num_operacao = replace(num_operacao, '500101', '')
		from DMKE_TEMP..RENTAB005_D_RENTABILIDADE_RWA_HISTO a
		where c_produto = '500101'


		--declare @posicao  date = '2025-05-31'
	
		if (select count(1) from DMKE_BASE..RENTABILIDADE_BE_PARAM where DT_PROCESSAMENTO = @posicao) = 0
		begin
			insert into DMKE_BASE..RENTABILIDADE_BE_PARAM
			select convert(varchar(6),@posicao,112)  C_MES, @posicao DT_PROCESSAMENTO, TAXA_IMPOSTO, TAXA_NVL_CAP_PROPRIO, PDI, LGDI, PROV_GERAIS, OBS
			from DMKE_BASE..RENTABILIDADE_BE_PARAM
			where DT_PROCESSAMENTO = (select max(DT_PROCESSAMENTO) from DMKE_BASE..RENTABILIDADE_BE_PARAM where DT_PROCESSAMENTO < @posicao)
		end

		if exists  ( select count(1) from DMKE_BASE..RENTABILIDADE_BE_PARAM group by  DT_PROCESSAMENTO having count(1) >1)
		begin 
			raiserror ( 'Existe  mais de um registo para o período',15,1) 

		end 
 

		drop table if exists DMKE_TEMP..RENTAB005_D_OPERACOES_MARGENS
		select *,
		CASE WHEN a.c_produto = 6867 
			THEN ROW_NUMBER() OVER (PARTITION BY A.DT_REFERENCIA, A.NUM_OPERACAO, A.C_PRODUTO, A.C_NIC 
			ORDER BY A.VL_SALDO_FIM_PERIODO DESC, A.VL_SALDO_MEDIO DESC) ELSE 1 END as CHAVE
		INTO DMKE_TEMP..RENTAB005_D_OPERACOES_MARGENS 
		from datamart..operacoes_margens_histo a
		where dt_referencia  = @posicao


	

		--Criação de Chave
		--	declare @posicao smalldatetime = '2025-03-31'
		drop table if exists DMKE_TEMP..RENTAB005_D_RENTABILIDADE_OPERACOES_AUX1
		select  cast(convert(varchar(6),a.dt_referencia,112)as int)		AS C_MES
				,convert(date,cast(a.dt_referencia as varchar(16)))		AS DT_REFERENCIA
				,d.nif													AS NUM_CONTRIBUINTE
				,a.c_nic												AS C_NIC
				,a.c_nuc												AS C_NUC 
				,case 
					when b.c_produto = 80001804 then b.c_produto 
					when b.c_produto = 500101   then b.c_produto 
				else a.c_produto end									AS C_PRODUTO		
				,a.num_operacao											AS NUM_OPERACAO
				,a.c_moeda												AS C_MOEDA
				,a.vl_saldo_medio										AS VL_SALDO_MEDIO 
				,a.vl_margem											AS VL_MARGEM      
				,convert(decimal(15,2),null)							AS VL_MARGEM_PASSIVA
				,convert(decimal(15,2),null)							AS VL_MARGEM_COMISSOES
				,convert(decimal(15,2),null)							AS VL_CAPITAL_AFECTO
				,c.C_MES												AS C_MES_RW
				,c.VL_rw												AS VL_RW
				,c.vl_rw_rent											AS VL_RW_RENT
				,c.VL_rwa												AS VL_RWA
				,c.VL_IMPARIDADE										AS VL_IMPARIDADE
		into DMKE_TEMP..RENTAB005_D_RENTABILIDADE_OPERACOES_AUX1
		
		from DMKE_TEMP..RENTAB005_D_OPERACOES_MARGENS a
		inner join datamart..L_produto B
			on a.c_produto = case 
								when b.c_produto = 80001804 then 1804 
								when b.c_produto = 500101   then 6867 
								else b.c_produto 
							end
			and b.c_grande_rubrica_agr = 1 

		left join DMKE_TEMP..RENTAB005_D_RENTABILIDADE_RWA_HISTO c 
			on a.dt_referencia= c.DT_PROCESSAMENTO
			and convert(varchar(50),a.num_operacao) = c.num_operacao 
			and b.c_produto = c.c_produto 
			and a.c_nic = c.C_nic
			and right(c.key_DGR,1) <> 'f'
			and a.CHAVE  = c.CHAVE
		--Universo de NUC's da BE
		inner join DMKE_TEMP..RENTAB005_D_nuc_4redes_histo d
			on a.c_nuc = d.C_nuc
		where 1 = 1
			and a.c_nuc not in (999999999,0)
			and a.c_nuc is not null
			--Forma de incluir os produtos de garantias e crédito documentários com margem financeira ativa = 0 mas com comissões equivalentes a margem financeira activas
			AND (
				(A.VL_MARGEM <> 0) OR 
				(A.C_APLICACAO = 'GARANTIAS' AND A.VL_SALDO_MEDIO <> 0) OR  -- PARA INCLUIR CPA DE GARANTIAS
				(A.C_APLICACAO = 'ESTRANG' AND A.VL_SALDO_MEDIO <> 0)		-- PARA INCLUIR CPA DE GARANTIAS
			) 
			and a.dt_referencia = @posicao

		-- declare @posicao smalldatetime = '2025-03-31'
		drop table if exists DMKE_TEMP..RENTAB005_D_RENTABILIDADE_RWA_2MESES_ANT;
		select distinct C_MES, NUM_OPERACAO, C_PRODUTO, C_MES C_MES_RW, VL_RW, VL_RW_RENT, VL_RWA, VL_IMPARIDADE 
		into DMKE_TEMP..RENTAB005_D_RENTABILIDADE_RWA_2MESES_ANT
		from datamart..RENTABILIDADE_BE_RWA_HISTO
		where DT_PROCESSAMENTO = eomonth(dateadd(mm,-2,@posicao))
			and right(key_DGR,1) <> 'f'
			and VL_RW is not null
			and num_operacao is not null
			and c_produto is not null


		update a 
		set num_operacao = replace(num_operacao, '500101', '')
		from DMKE_TEMP..RENTAB005_D_RENTABILIDADE_RWA_2MESES_ANT a
		where c_produto = '500101'



		update a 
			set   C_MES_RW		= b.C_MES_RW
				, VL_RW			= b.vl_rw
				, vl_rw_rent	= b.vl_rw_rent
				, vl_rwa		= b.vl_rwa
				, vl_imparidade = b.vl_imparidade 
		from DMKE_TEMP..RENTAB005_D_RENTABILIDADE_OPERACOES_AUX1 a
		inner join DMKE_TEMP..RENTAB005_D_RENTABILIDADE_RWA_2MESES_ANT b 
			on a.c_produto = b.c_produto 
			and a.num_operacao = b.num_operacao 
		where a.vl_rw_rent is null 

		UPDATE A
		SET C_mes_RW = 190001, VL_RW_RENT = 1 
		FROM DMKE_TEMP..RENTAB005_D_RENTABILIDADE_OPERACOES_AUX1  A
		WHERE VL_RW_RENT IS NULL 

	--declare @posicao smalldatetime = '2025-03-31'
	declare @TAXA_NVL_CAP_PROPRIO decimal(18,6) = (select TAXA_NVL_CAP_PROPRIO from DMKE_BASE..RENTABILIDADE_BE_PARAM where DT_PROCESSAMENTO = @posicao)



		update a
		set VL_CAPITAL_AFECTO = case 
				when C_PRODUTO = 1804 then 0 
				else (((VL_SALDO_MEDIO * @taxa_nvl_cap_proprio * VL_RW_RENT) / 360) * day(eomonth(@posicao))) 
			end  
	
		from DMKE_TEMP..RENTAB005_D_RENTABILIDADE_OPERACOES_AUX1 a 

		insert into DMKE_TEMP..RENTAB005_D_RENTABILIDADE_OPERACOES_AUX1
		
		select convert(char(6),a.dt_referencia,112)	as C_MES
				,a.dt_referencia					as DT_REFERENCIA
				,d.NIF								as NUM_CONTRIBUINTE
				,a.c_nic							as C_NIC
				,a.c_nuc							as C_NUC
				,a.c_produto						as C_PRODUTO
				,a.num_operacao						as NUM_OPERACAO
				,a.c_moeda      					as C_MOEDA
				,a.vl_saldo_medio					as VL_SALDO_MEDIO
				,null								as VL_MARGEM_ACTIVA
				,a.vl_margem						as VL_MARGEM_PASSIVA
				,null								as VL_MARGEM_COMISSAO
				,null								as CAPITAL_AFECTO
				,null								as C_MES_RWA
				,null								as VL_RW
				,null								as VL_RW_RENT
				,null								as VL_RWA
				,null								as VL_IMPARIDADE
		from datamart..operacoes_margens_histo a
		inner join datamart..L_produto i 
			on a.c_produto = i.c_produto
			and i.c_grande_rubrica_agr = 2
		inner join  DMKE_TEMP..RENTAB005_D_nuc_4redes_histo d
			on a.c_nuc = d.C_nuc
		where 1 = 1
			and a.c_nuc not in (999999999,0)
			and a.c_nuc is not null
			AND (
				(A.VL_MARGEM <> 0) OR 
				(A.C_APLICACAO = 'GARANTIAS' AND A.VL_SALDO_MEDIO <> 0) OR -- PARA INCLUIR CPA DE GARANTIAS
				(A.C_APLICACAO = 'ESTRANG' AND A.VL_SALDO_MEDIO <> 0)  -- PARA INCLUIR CPA DE GARANTIAS
			) 
			and a.dt_referencia= @posicao
		
		insert into DMKE_TEMP..RENTAB005_D_RENTABILIDADE_OPERACOES_AUX1
		select	a.C_MES			as C_MES
				,eomonth(a.DT_PROCESSAMENTO)	as DT_REFERENCIA
				,null				as NUM_CONTRIBUINTE
				,null				as C_NIC
				,a.C_nuc			as C_NUC
				,a.C_PRODUTO		as C_PRODUTO
				,null				as NUM_OPERACAO
				,null				as C_MOEDA
				,null				as VL_SALDO_MEDIO
				,null				as VL_MARGEM_ACTIVA
				,null				as VL_MARGEM_PASSIVA
				,a.vl_comissao      as VL_MARGEM_COMISSAO
				,null               as CAPITAL_AFECTO
				,null               as C_MES_RWA
				,null               as VL_RW
				,null               as VL_RW_RENT
				,null               as VL_RWA
				,null               as VL_IMPARIDADE
		from DMKE_BASE..COMISSOES_CONSOLIDADA_HISTO a
		inner join DMKE_BASE..COMISSOES_L_ITENS b 
			on a.c_item = b.c_item
		inner join DMKE_TEMP..RENTAB005_D_nuc_4redes_histo  c 
			on a.c_nuc = c.C_NUC 
		where a.DT_PROCESSAMENTO = @posicao 

		
		delete from DMKE_BASE..RENTABILIDADE_BE_HISTO where DT_PROCESSAMENTO = @posicao
		insert into DMKE_BASE..RENTABILIDADE_BE_HISTO
		select  a.DT_REFERENCIA							--dt_processamento	
				,a.C_MES								--cod_anomes		
				,a.C_NUC								--nuc				
				,a.C_PRODUTO							--cod_produto		
				,sum(isnull(a.VL_MARGEM,0))				--mrg_fin_act		
				,sum(isnull(a.VL_MARGEM_PASSIVA,0))		--mrg_fin_pass		
				,sum(isnull(a.VL_MARGEM_COMISSOES,0))	--mrg_comissao		
				,sum(isnull(a.VL_CAPITAL_AFECTO,0))		--cpa				
				,null									--origem_info	
		from DMKE_TEMP..RENTAB005_D_RENTABILIDADE_OPERACOES_AUX1 a 
		inner join DMKE_TEMP..RENTAB005_D_nuc_4redes_histo  b on a.C_NUC	 = b.c_nuc 
		inner join datamart..L_produto					    c on a.c_produto = c.c_produto 
		group by a.C_MES, a.DT_REFERENCIA, a.C_NUC, a.C_PRODUTO


			
		--select * from DMKE_TEMP..RENTAB005_D_RENTABILIDADE_OPERACOES_AUX1 where c_nuc =2671639
		--select * from DMKE_TEMP..RENTAB005_D_nuc_4redes_histo where c_nuc =2671639
	
	
	exec dmke_app..[MSQLDB040_MANUT_TABELA]  'RENTABILIDADE_BE'
	--END
	--ELSE
	--begin 
	--	PRINT('Rentabilidade corre apenas a partir de dia 15 de cada mes')
	--end 
END;
return;